
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Comforter&display=swap');

.cursor{
    cursor: pointer;
    color: white;
}

.fontef1{
    font-family: 'Barlow Semi Condensed', sans-serif!important;
}


.cor{
    background-color: #379683;
}
.cor2{
    background-color: #5CDB95;
}
.fonte{
    font-family: "Helvetica";
}
.letracor2{
    color: #05396b!important;
}



.navbar{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none!important;
}
/*Colocar o search bar no final*/
.last-item {
    margin-left: auto!important;
}
.text-decorator-none{
    text-decoration: none;
}