@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Barlow+Semi+Condensed:wght@500;800&family=Comforter&display=swap');

.caixa-postagem{
    background-color: #EDF5E1
}
.borda-postagem{
    border-radius: 15px!important;
}

.fonte-postagem{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #05396b;
    font-size:large;
    
}

.fonte-postagem-texto{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #041220;
    font-size:x-large;
}

.fonte-postagem-texto2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #041220;
    
}

.postagem-bold{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: larger;
    color: #05396b;
    margin-top: 6px;
}
.botao-postagem{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: rgb(136, 31, 31);
    color: #EDF5E1;
    font-size: large;
}

.botao-postagem1{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #05386B;
    color: #EDF5E1;
    font-size: large;
}

.text-decorator-none{
    text-decoration: none;
}