@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Comforter&display=swap');

.fontef1-login{
    font-family: 'Barlow Semi Condensed', sans-serif!important;
    color: #EDF5E1!important;
}
.fontef3-login{
    font-family: 'Barlow Semi Condensed', sans-serif!important;
    
}

.corfundo{
    background-color: #5CDB95;
}
.corfundobt{
    background-color: #094628!important;
}
.corfundocaixa{
    background-color: #EDF5E1;
    border-radius: 5px;
}

.textologin{
    font-weight: bold!important;
}

.text-decorator-none{
    text-decoration: none!important;
}

.imagem{
    background-image: url(https://i.imgur.com/nHYeU8a.jpg);
    background-repeat: no-repeat; 
    width: 100vh; 
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}
.cadastrocor{
    color: #05396b;
}
