
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Comforter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Barlow+Semi+Condensed:wght@500;800&family=Comforter&display=swap');

/*Precisa do important dps pra sobrepor o do navbar na página e dps coloca lá no typescrypt, classname = "fontef"*/
.fontef1{
    font-family: 'Barlow Semi Condensed', sans-serif!important;
}

.fontef2{
    font-family: 'Barlow Condensed', sans-serif!important;
}
.titulo{
    color: aqua;
    text-align: center;
}

.img{
    width: 500px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.letracor{
    color: #EDF5E1!important;
}